# Pandas

In [ ]:
import pandas as pd
df = pd.read_csv("C:/Users/Rager/Downloads/titanic_mod.csv")
df.head()

In [ ]:
df.describe()

In [ ]:
df.dtypes[df.dtypes == 'int64'].index

In [ ]:
df.columns

In [ ]:
df[df.dtypes[df.dtypes == 'int64'].index]

In [ ]:
df[['age']][4:11]

In [ ]:
df['activity'] = df['pclass'] + df['age']

In [ ]:
df.head()

In [ ]:
pd.Categorical(df['sibsp'])

In [ ]:
df['sibsp'].unique()

In [ ]:
df[(df['age'] > 25) & (df['fare'] > 150)]

In [ ]:
df[df['fare'] == max(df['fare'])]['age']

In [ ]:
df.iloc[0:5,2:4]

In [ ]:
s = df['age'][0:3]
l = ['a','b','c']
s1 = pd.Series(list(s),index = l)

In [ ]:
s1

In [ ]:
s1['a']

In [ ]:
s2 = df['activity'][0:3]
l = ['a','b','c']
s3 = pd.Series(list(s2),index = l)

In [ ]:
s3

In [ ]:
s1*s3

In [ ]:
df.head()

In [ ]:
df = df.drop("activity",axis = 1)

In [ ]:
df.head()

In [ ]:
df.set_index('passenger_id',inplace  = True)
df.head()

In [ ]:
df.reset_index(inplace = True)

In [ ]:
df.head()

In [ ]:
g = df.groupby("age")

In [ ]:
g.sum()

In [ ]:
d = {
    'key1' : [1,2,2,1],
    'key2' : [2,3,4,5],
    'key3' : [3,4,5,6]
}
df_ = pd.DataFrame(d)
df_

In [ ]:
g = df_.groupby("key1")
g.sum()

In [ ]:
g.mean()['key3']

In [ ]:
df_.head().transpose()

In [ ]:
df_['key1'][0] = 'NaN'

In [ ]:
df_.head()

In [ ]:
df_.fillna(1)

In [ ]:
data1 = {
    'a' : [1,2,3,4],
    'b' : [2,3,4,5]
}
data2 = {
    'a' : [1,6,8,4],
    'c' : [4,3,0,9]
}
df2 = pd.DataFrame(data1)
df3 = pd.DataFrame(data2)
pd.merge(df2,df3)

In [ ]:
df.head()

In [ ]:
df['Fare_INR'] = df['fare'].apply(lambda x : x*80)

In [ ]:
df.head()

In [ ]:
def test(x):
    return x.max()
df.apply(test)

In [ ]:
df.sort_values('age')

In [ ]:
df.sort_index(ascending=False)

In [ ]:

dfo = pd.DataFrame({'description' : ["hjhdgcjbschbsbc smbhcbsbbcjbsjbckjbjb  jksnb sm m,njkcnsnd mcnjksbnkc cmdjcbs c msnckjnsd cmnsdjkncd c dnfjknkjsnnknfkjsdncnjdhfhrd jkdnvjbhuihcnsndkaja;ekdoiesjfj  roifjejifjesjofjesjlifhjsejfnskifhisnfkrhdufhnfseijfjscfojvkldfhejcfnvuiriojfjdoifjrlivjirvjjvosk dihjfjsvjioijojo9ijvfojvoijvoljuvuovfjrlhjo"]})
pd.set_option("display.max_colwidth",1000)
dfo

In [ ]:
df['age'].median()

In [ ]:
date = pd.date_range(start = '2023-04-23', end = '2023-06-23')
date

In [ ]:
df_date = pd.DataFrame({'date':date})
df_date

In [ ]:
df_date.dtypes

In [ ]:
df_date['datetime'] = pd.to_datetime(df_date['date'])
df_date

In [ ]:
df_date[df_date['date'] == object]

In [ ]:
df_date.dtypes

In [ ]:
df_date['year'] = df_date['datetime'].dt.year

In [ ]:
df_date.head()

In [ ]:
dt = pd.to_datetime('2023-06-20')
td = pd.Timedelta(days = 1)
dt + td

In [ ]:
data = ['nu','fu','lu']
cat = pd.Categorical(data)
cat.value_counts()

In [ ]:
d = pd.Series([2,4,6,8,10])
d.plot(xlabel='indices',ylabel='data')